<mat-toolbar>
    <span>Home Page</span>
  </mat-toolbar>
<div class="wrapper" >
    <div class="button" [routerLink]="'/newOrder'">
        <span >Create new order</span>
        <i class="fa-solid fa-arrow-right icon"></i>
    </div>

    <div class="button" [routerLink]="'/orders'">
        <span>Orders</span>
        <i class="fa-solid fa-arrow-right icon"></i>
    </div>

    <!-- <div class="button" [routerLink]="'/completedOrders'">
        <span>Completed orders</span>
        <i class="fa-solid fa-arrow-right icon"></i>
    </div> -->
</div>

