/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.simple-snack-bar span{
    margin: auto;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: flex-end;
  }
  
  .next, .back{
    background-color: #a99985;
    color: #f5f1ed;
    transform: background-color .3s;
    padding: 1em 1em;
    margin: 1em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
  }
  .next:hover, .back:hover {
    background-color: #6e5c47;
  }
  .error{
    color: #f44336;
  }
  .error-info{
    font-size: 0.8rem;
  }
